/* root */
:root {
    --bg-color: rgb(20, 20, 20);
    --text-color: white;
    --blue: rgb(0, 136, 255);
    --red: rgb(251, 52, 52);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=integer] {
    -moz-appearance: textfield;
}

@media only screen and (min-width: 2100px) {
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.team {
    width: 10vw;
    margin-right: 1vw;
    margin-left: 1vw;
    height: 1.5vw;
    border-radius: 0.5vw;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 0.9vw;
    padding-left: 0.2vw;
}

#blue-alliance, #red-alliance {
    display: inline-flex;
    width: 40vw;
    flex-direction: column;
    padding-top: 1vw;
    border-radius: 1vw;
    height: 100%;
    align-items: center;
    margin-top: 1vw;
    transition: 0.25s ease;
}

#blue-alliance:hover, #red-alliance:hover {
    filter: brightness(1.1);
}

#blue-teams, #red-teams {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#blue-alliance {
    background-color: var(--blue);
    margin-right: 2vw;
}

.blue-robots, .red-robots {
    display: flex;
    justify-content: center;
    width: 40vw;
}

#red-alliance {
    background-color: var(--red);
    margin-left: 2vw;
    justify-content: right;
}

.robot {
    display: inline-flex;
    width: 35%;
    flex-direction: column;
    align-items: center;
}

.num-input {
    width: 1.5vw;
}

.span {
    white-space: nowrap;
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 0.25vw;
}

.span input {
    float: right;
    border: 1px solid lightgray;
    border-radius: 10%;
}

.span .checkbox {
    width: 1vw;
    height: 1vw;
    border-radius: 15%;
    border: 1px solid lightgray;
}

.nospecific {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
}

select {
    font-family: 'Inter', sans-serif;
    font-size: 0.6vw;
    width: 7vw;
    height: 1.5vw;
    border-radius: 0.5vw;
    margin-top: 0.5vw;
}
}
